*{
	padding:0px;
	margin:0px;
	/*background-color: lightblue; /* For browsers that do not support gradients */
  }  

body{
	background: linear-gradient(260deg, #F896FB, #89E4F9);
}

#header{
	height:40px;
	width:100%;
	/*background-color: lightblue;*/
	padding: 20px 0px;
}

#header-content{
	padding: 20px;
	font-family: Helvetica;
	font-size:20px;
	color: #e6bbad;
}

#main{
	background-color: white;
	max-width: 50%;
	height:450px;
	/*align: center;*/
	border-radius:15px;
	margin: 0 auto;
}

#Home{
	height: 60px;
	width: 55px;
	padding-left: 20px;
}